interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer b4c0n73n7fu1]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/assets/nyancat
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"cfexampleapi\"\n
        \     }\n    },\n    \"id\": \"nyancat\",\n    \"type\": \"Asset\",\n    \"createdAt\":
        \"2013-09-02T14:56:34.240Z\",\n    \"updatedAt\": \"2013-09-02T14:56:34.240Z\",\n
        \   \"revision\": 1,\n    \"locale\": \"en-US\"\n  },\n  \"fields\": {\n    \"title\":
        \"Nyan Cat\",\n    \"file\": {\n      \"url\": \"//images.contentful.com/cfexampleapi/4gp6taAwW4CmSgumq2ekUm/9da0cd1936871b8d72343e895a00d611/Nyan_cat_250px_frame.png\",\n
        \     \"details\": {\n        \"size\": 12273,\n        \"image\": {\n          \"width\":
        250,\n          \"height\": 250\n        }\n      },\n      \"fileName\":
        \"Nyan_cat_250px_frame.png\",\n      \"contentType\": \"image/png\"\n    }\n
        \ }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"d902ebea15f5adf746a1a29874959071"']
      X-Contentful-Request-Id: [855edccc18956d2a2c0c6be5c1f3080f]
    status: {code: 200, message: OK}
version: 1
