interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-User-Agent:
      - sdk contentful.py/2.3.2; platform python/3.12.7; os macOS/24.3.0;
    method: GET
    uri: https://cdn.contentful.com/spaces/o4h6g9w3pooi/environments/master/content_types
  response:
    body:
      string: '{"sys":{"type":"Array"},"total":7,"skip":0,"limit":100,"items":[{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"o4h6g9w3pooi"}},"id":"aaa","type":"ContentType","createdAt":"2025-02-12T10:25:48.169Z","updatedAt":"2025-02-12T10:25:48.169Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"revision":1},"displayField":"title","name":"AAA","description":"","fields":[{"id":"title","name":"title","type":"Symbol","localized":false,"required":false,"disabled":false,"omitted":false},{"id":"bar","name":"bar","type":"RichText","localized":false,"required":false,"disabled":false,"omitted":false}]},{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"o4h6g9w3pooi"}},"id":"oneWithDefaultValue","type":"ContentType","createdAt":"2024-07-25T21:13:25.958Z","updatedAt":"2024-07-25T21:13:25.958Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"revision":1},"displayField":"title","name":"One
        with Default Value","description":"","fi[...]
- request:
    body: '{"expiresAt": 1740749798}'
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-User-Agent:
      - sdk contentful.py/2.3.2; platform python/3.12.7; os macOS/24.3.0;
    method: POST
    uri: https://cdn.contentful.com/spaces/o4h6g9w3pooi/environments/master/asset_keys
  response:
    body:
      string: '{"policy":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjE6MSJ9.eyJleHAiOjE3NDA3NDk3OTgsInN1YiI6Im80aDZnOXczcG9vaSIsImF1ZCI6ImFkbiIsImp0aSI6ImM5NjMwYjk1LTcxYmMtNDQyMi1hNmU4LTYxN2MxOTk3YjJhMCIsImN0Zjp1bnB1YiI6ZmFsc2V9","secret":"eDDy6IgTeA9fAR9hjtMKIX8Uj5-7gzarD3QQTta-LCQ"}'
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      x-contentful-request-id:
      - 8543c1d2-fad0-442f-8088-5e3c4b4f95b5
      x-contentful-route:
      - /delivery/spaces/:spaceId/environments/:environmentId/asset_keys
    status:
      code: 200
      message: OK
version: 1
