interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer b4c0n73n7fu1]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?content_type=cat&sys.id=nyancat&select=fields.name%2Csys
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 1,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"fields\":
        {\n        \"name\": \"Nyan Cat\"\n      },\n      \"sys\": {\n        \"space\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"Space\",\n            \"id\": \"cfexampleapi\"\n          }\n        },\n
        \       \"id\": \"nyancat\",\n        \"type\": \"Entry\",\n        \"createdAt\":
        \"2013-06-27T22:46:19.513Z\",\n        \"updatedAt\": \"2013-09-04T09:19:39.027Z\",\n
        \       \"revision\": 5,\n        \"contentType\": {\n          \"sys\": {\n
        \           \"type\": \"Link\",\n            \"linkType\": \"ContentType\",\n
        \           \"id\": \"cat\"\n          }\n        },\n        \"locale\":
        \"en-US\"\n      }\n    }\n  ]\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"5bceeb558eb6136686e5aae912e25903"']
      X-Contentful-Request-Id: [3314de7c5281dd6c8ef123da29efb4d5]
    status: {code: 200, message: OK}
version: 1
