interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer b4c0n73n7fu1]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?sys.id=foobar
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 0,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": []\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"29f2c21be26360c424f617d8592cf6f9"']
      X-Contentful-Request-Id: [5e471b217bc3de8d9a5d2885121bb591]
    status: {code: 200, message: OK}
version: 1
