interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      X-Contentful-User-Agent: [sdk contentful.py/1.6.0; platform python/3.6.3; os
          macOS/16.7.0;]
    method: GET
    uri: https://cdn.contentful.com/spaces/facgnwwgj5fe/environments/testing/locales
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 3,\n
        \ \"skip\": 0,\n  \"limit\": 1000,\n  \"items\": [\n    {\n      \"code\":
        \"en-US\",\n      \"name\": \"U.S. English\",\n      \"default\": true,\n
        \     \"fallbackCode\": null,\n      \"sys\": {\n        \"id\": \"1NkEdf220AtNFVgJO9fFQ2\",\n
        \       \"type\": \"Locale\",\n        \"version\": 1\n      }\n    },\n    {\n
        \     \"code\": \"foo\",\n      \"name\": \"foobar\",\n      \"default\":
        false,\n      \"fallbackCode\": null,\n      \"sys\": {\n        \"id\": \"2QKRtwD3DKOkYKXJJsYdHk\",\n
        \       \"type\": \"Locale\",\n        \"version\": 1\n      }\n    },\n    {\n
        \     \"code\": \"foo-BB\",\n      \"name\": \"Foo (BarBaz)\",\n      \"default\":
        false,\n      \"fallbackCode\": \"en-US\",\n      \"sys\": {\n        \"id\":
        \"4YnLeSNLymCAZ6eYwJmhzu\",\n        \"type\": \"Locale\",\n        \"version\":
        1\n      }\n    }\n  ]\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"933cd424e0bbb10faa1c119a7c478a36"']
      X-Contentful-Request-Id: [b203a8e779b889882f508d217513881c]
    status: {code: 200, message: OK}
version: 1
