interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer b4c0n73n7fu1]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/cfexampleapi
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Space\",\n    \"id\": \"cfexampleapi\"\n
        \ },\n  \"name\": \"Contentful Example API\",\n  \"locales\": [\n    {\n      \"code\":
        \"en-US\",\n      \"default\": true,\n      \"name\": \"English\",\n      \"fallbackCode\":
        null\n    },\n    {\n      \"code\": \"tlh\",\n      \"default\": false,\n
        \     \"name\": \"Klingon\",\n      \"fallbackCode\": \"en-US\"\n    }\n  ]\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"17f6b9f68596176aed46fa020bf235af"']
      X-Contentful-Request-Id: [c420fbb55f3bba6d9658642a0f645233]
    status: {code: 200, message: OK}
version: 1
