interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-User-Agent:
      - sdk contentful.py/2.4.0; platform python/3.12.7; os macOS/24.5.0;
    method: GET
    uri: https://cdn.contentful.com/spaces/o4h6g9w3pooi/environments/master/taxonomy/concept-schemes
  response:
    body:
      string: '{"sys":{"type":"Array"},"limit":100,"items":[{"sys":{"id":"4EQT881T6sG9XpzNwb9y9R","type":"TaxonomyConceptScheme","createdAt":"2025-03-21T05:53:46.063Z","updatedAt":"2025-03-21T05:55:26.969Z","version":2},"uri":"https://example.com/testscheme","topConcepts":[{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"Link","linkType":"TaxonomyConcept"}}],"concepts":[{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"Link","linkType":"TaxonomyConcept"}}],"totalConcepts":1,"prefLabel":{"en-US":"TestScheme"},"definition":{"en-US":""}}],"pages":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      etag:
      - '"1175497962317909239"'
      x-contentful-request-id:
      - d06f5122-991b-4baa-a08c-3cdf2b432ade
      x-contentful-route:
      - /spaces/:spaceId/environments/:environmentId/taxonomy/concept-schemes
    status:
      code: 200
      message: OK
version: 1
