interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-User-Agent:
      - sdk contentful.py/2.4.0; platform python/3.12.7; os macOS/24.5.0;
    method: GET
    uri: https://cdn.contentful.com/spaces/o4h6g9w3pooi/environments/master/taxonomy/concepts
  response:
    body:
      string: '{"sys":{"type":"Array"},"limit":100,"items":[{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"TaxonomyConcept","createdAt":"2025-03-21T05:54:15.434Z","updatedAt":"2025-07-09T10:45:16.316Z","version":5},"uri":"https://example/testconcept","notations":["SLR001"],"conceptSchemes":[{"sys":{"id":"4EQT881T6sG9XpzNwb9y9R","type":"Link","linkType":"TaxonomyConceptScheme"}}],"broader":[{"sys":{"id":"newConcept","type":"Link","linkType":"TaxonomyConcept"}}],"related":[],"prefLabel":{"en-US":"TestConcept"},"altLabels":{"en-US":["Couches"]},"hiddenLabels":{"en-US":["Sopha"]},"note":{"en-US":"Excepteur
        sint occaecat cupidatat non proident"},"changeNote":null,"definition":null,"editorialNote":{"en-US":""},"example":{"en-US":"Lorem
        ipsum dolor sit amet"},"historyNote":{"en-US":""},"scopeNote":{"en-US":"consectetur
        adipiscing elit"}},{"sys":{"id":"newConcept","type":"TaxonomyConcept","createdAt":"2025-07-07T10:55:02.436Z","updatedAt":"2025-07-07T10:55:02.436Z","version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":{"en-US":"NewConcept"},"altLabels":{"en-US":[]},"hiddenLabels":{"en-US":[]},"note":{"en-US":""},"changeNote":null,"definition":{"en-US":""},"editorialNote":{"en-US":""},"example":{"en-US":""},"historyNote":{"en-US":""},"scopeNote":{"en-US":""}},{"sys":{"id":"travels","type":"TaxonomyConcept","createdAt":"2025-07-09T10:51:38.536Z","updatedAt":"2025-07-09T10:51:38.536Z","version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":{"en-US":"travels"},"altLabels":{"en-US":[]},"hiddenLabels":{"en-US":[]},"note":{"en-US":""},"changeNote":null,"definition":{"en-US":""},"editorialNote":{"en-US":""},"example":{"en-US":""},"historyNote":{"en-US":""},"scopeNote":{"en-US":""}}],"pages":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      etag:
      - '"9720172844942167068-gzip"'
      x-contentful-request-id:
      - 61115fd5-58b5-4f63-944d-e06f3bb7104d
      x-contentful-route:
      - /spaces/:spaceId/environments/:environmentId/taxonomy/concepts
    status:
      code: 200
      message: OK
version: 1
