[flake8]
max-line-length = 180
extend-ignore = E122
exclude = 
    ./docs/conf.py
    ./.pdm/
    .tox
    *.egg
    build
    data
    .venv/
    .venv/*
    */.venv/*
    venv/*
    */venv/*
    __pycache__
max-complexity = 10 