python-dateutil>=2.8,<3
requests>=2.20,<3.0
aiohttp>=3.9,<4.0
orjson>=3.9,<4.0

vcrpy>=6.0,<7.0
coverage>=7,<8
flake8>=7,<8
tox>=4,<5
virtualenv>=20,<21
requests-mock>=1.5,<2

Sphinx>=7,<8
sphinxcontrib-websupport>=1,<2
