interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer bbe871957bb60f988af6cbeeccbb178c36cae09e36e8098357e27b51dd38d88e]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/wltm0euukdog/environments/master/content_types
  response:
    body: {string: !!python/unicode "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n
        \ \"total\": 1,\n  \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n
        \     \"sys\": {\n        \"space\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"Space\",\n            \"id\": \"wltm0euukdog\"\n
        \         }\n        },\n        \"id\": \"test\",\n        \"type\": \"ContentType\",\n
        \       \"createdAt\": \"2017-01-23T18:02:32.836Z\",\n        \"updatedAt\":
        \"2017-01-23T18:02:32.836Z\",\n        \"revision\": 1\n      },\n      \"displayField\":
        \"name\",\n      \"name\": \"Test\",\n      \"description\": \"\",\n      \"fields\":
        [\n        {\n          \"id\": \"name\",\n          \"name\": \"Name\",\n
        \         \"type\": \"Symbol\",\n          \"localized\": false,\n          \"required\":
        false,\n          \"disabled\": false,\n          \"omitted\": false\n        }\n
        \     ]\n    }\n  ]\n}\n"}
    headers:
      content-type: [application/vnd.contentful.delivery.v1+json]
      etag: ['"8c46ae3358dd3a55d78d310e74d1f40b"']
      x-contentful-request-id: [f9ce1d38523599531099c63dd62fcdd1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer bbe871957bb60f988af6cbeeccbb178c36cae09e36e8098357e27b51dd38d88e]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/wltm0euukdog/environments/master/entries
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 1,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"wltm0euukdog\"\n
        \         }\n        },\n        \"id\": \"6b1g8qQ3hCIcsOgKqEsqOi\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2017-01-23T18:04:56.543Z\",\n        \"updatedAt\":
        \"2017-01-23T18:04:56.543Z\",\n        \"revision\": 1,\n        \"contentType\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"ContentType\",\n            \"id\": \"test\"\n          }\n        },\n
        \       \"locale\": \"en-US\"\n      },\n      \"fields\": {\n        \"name\":
        \"\U0001F605\"\n      }\n    }\n  ]\n}\n"}
    headers:
      content-type: [application/vnd.contentful.delivery.v1+json]
      etag: ['"4119fdeec6c1f389eafb3e449fc698b9"']
      x-contentful-request-id: [5b61e93c7e99078bc717a738a9d8de17]
    status: {code: 200, message: OK}
version: 1
