interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer d2ac2076019bd4a8357811cbdd5563bb7186d90d77e53c265a1bafd9f83439e8]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/4int1zgmkwcf/environments/master/content_types
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 1,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"4int1zgmkwcf\"\n
        \         }\n        },\n        \"id\": \"test\",\n        \"type\": \"ContentType\",\n
        \       \"createdAt\": \"2017-02-22T14:09:41.710Z\",\n        \"updatedAt\":
        \"2017-02-22T14:09:41.710Z\",\n        \"revision\": 1\n      },\n      \"displayField\":
        \"name\",\n      \"name\": \"Test\",\n      \"description\": \"\",\n      \"fields\":
        [\n        {\n          \"id\": \"name\",\n          \"name\": \"Name\",\n
        \         \"type\": \"Symbol\",\n          \"localized\": false,\n          \"required\":
        false,\n          \"disabled\": false,\n          \"omitted\": false\n        },\n
        \       {\n          \"id\": \"json\",\n          \"name\": \"JSON\",\n          \"type\":
        \"Object\",\n          \"localized\": false,\n          \"required\": false,\n
        \         \"disabled\": false,\n          \"omitted\": false\n        }\n
        \     ]\n    }\n  ]\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"f52db9a965fd66f761dd4a739ecb3b0b"']
      X-Contentful-Request-Id: [a982440e5281e2689741fbbc3ef54d8f]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer d2ac2076019bd4a8357811cbdd5563bb7186d90d77e53c265a1bafd9f83439e8]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
    method: GET
    uri: https://cdn.contentful.com/spaces/4int1zgmkwcf/environments/master/entries
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 1,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"4int1zgmkwcf\"\n
        \         }\n        },\n        \"id\": \"1b7JfsRAzIqegGk8uIuSwO\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2017-02-22T14:10:20.717Z\",\n        \"updatedAt\":
        \"2017-02-22T14:10:20.718Z\",\n        \"revision\": 1,\n        \"contentType\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"ContentType\",\n            \"id\": \"test\"\n          }\n        },\n
        \       \"locale\": \"en-US\"\n      },\n      \"fields\": {\n        \"name\":
        \"Test\",\n        \"json\": [\n          {\n            \"foo\": \"bar\"\n
        \         },\n          {\n            \"baz\": \"qux\"\n          }\n        ]\n
        \     }\n    }\n  ]\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      ETag: ['"f55e48aff28220759ff61bfc2c85ce4f"']
      X-Contentful-Request-Id: [b09f3e1110bf4780e7983c48ff8a9949]
    status: {code: 200, message: OK}
version: 1
