interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer 6256b8ef7d66805ca41f2728271daf27e8fa6055873b802a813941a0fe696248]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      X-Contentful-User-Agent: [sdk contentful.py/1.10.2; platform python/3.6.3; os
          macOS/16.7.0;]
    method: GET
    uri: https://cdn.contentful.com/spaces/jd7yc4wnatx3/environments/master/content_types
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 2,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"jd7yc4wnatx3\"\n
        \         }\n        },\n        \"id\": \"embedded\",\n        \"type\":
        \"ContentType\",\n        \"createdAt\": \"2018-08-22T10:44:07.886Z\",\n        \"updatedAt\":
        \"2018-08-22T10:44:07.886Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"master\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"revision\": 1\n      },\n
        \     \"displayField\": \"body\",\n      \"name\": \"Embedded\",\n      \"description\":
        \"\",\n      \"fields\": [\n        {\n          \"id\": \"body\",\n          \"name\":
        \"Body\",\n          \"type\": \"Symbol\",\n          \"localized\": false,\n
        \         \"required\": false,\n          \"disabled\": false,\n          \"omitted\":
        false\n        }\n      ]\n    },\n    {\n      \"sys\": {\n        \"space\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"Space\",\n            \"id\": \"jd7yc4wnatx3\"\n          }\n        },\n
        \       \"id\": \"stTest\",\n        \"type\": \"ContentType\",\n        \"createdAt\":
        \"2018-08-22T10:43:50.802Z\",\n        \"updatedAt\": \"2018-08-22T10:43:50.802Z\",\n
        \       \"environment\": {\n          \"sys\": {\n            \"id\": \"master\",\n
        \           \"type\": \"Link\",\n            \"linkType\": \"Environment\"\n
        \         }\n        },\n        \"revision\": 1\n      },\n      \"displayField\":
        \"name\",\n      \"name\": \"StTest\",\n      \"description\": \"\",\n      \"fields\":
        [\n        {\n          \"id\": \"name\",\n          \"name\": \"Name\",\n
        \         \"type\": \"Symbol\",\n          \"localized\": false,\n          \"required\":
        false,\n          \"disabled\": false,\n          \"omitted\": false\n        },\n
        \       {\n          \"id\": \"body\",\n          \"name\": \"Body\",\n          \"type\":
        \"RichText\",\n          \"localized\": false,\n          \"required\":
        false,\n          \"disabled\": false,\n          \"omitted\": false\n        }\n
        \     ]\n    }\n  ]\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      Contentful-Api: [cda_cached]
      ETag: [W/"df23ab55e257a1f3eb634ed5ee9759ec"]
      X-Contentful-Region: [us-east-1]
      X-Contentful-Request-Id: [138cd1a3c95b973ae85629958176b55a]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer 6256b8ef7d66805ca41f2728271daf27e8fa6055873b802a813941a0fe696248]
      Content-Type: [application/vnd.contentful.delivery.v1+json]
      X-Contentful-User-Agent: [sdk contentful.py/1.10.2; platform python/3.6.3; os
          macOS/16.7.0;]
    method: GET
    uri: https://cdn.contentful.com/spaces/jd7yc4wnatx3/environments/master/entries?sys.id=6NGLswCREsGA28kGouScyY
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 1,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"jd7yc4wnatx3\"\n
        \         }\n        },\n        \"id\": \"6NGLswCREsGA28kGouScyY\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2018-09-11T09:40:41.531Z\",\n        \"updatedAt\":
        \"2018-09-12T10:04:16.991Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"master\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"revision\": 2,\n        \"contentType\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"ContentType\",\n            \"id\": \"stTest\"\n          }\n        },\n
        \       \"locale\": \"en-US\"\n      },\n      \"fields\": {\n        \"name\":
        \"Test Inline Stuff and Links\",\n        \"body\": {\n          \"content\":
        [\n            {\n              \"data\": {},\n              \"content\":
        [\n                {\n                  \"marks\": [],\n                  \"value\":
        \"A link to \",\n                  \"nodeType\": \"text\",\n                  \"nodeClass\":
        \"text\"\n                },\n                {\n                  \"data\":
        {\n                    \"uri\": \"https://google.com\"\n                  },\n
        \                 \"content\": [\n                    {\n                      \"marks\":
        [],\n                      \"value\": \"google\",\n                      \"nodeType\":
        \"text\",\n                      \"nodeClass\": \"text\"\n                    }\n
        \                 ],\n              [...]
