version: 2.1

jobs:
  test:
    parameters:
      python-version:
        type: string
    docker:
      - image: cimg/python:<< parameters.python-version >>
    steps:
      - checkout
      - run: pip install -r requirements.txt
      - run: python runtests.py

workflows:
  version: 2
  workflow:
    jobs:
      - test:
          matrix:
            parameters:
              python-version: ["2.7", "3.7", "3.8", "3.9", "3.10"]
