interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-User-Agent:
      - sdk contentful.py/1.13.1; platform python/3.6.15; os macOS/21.6.0;
    method: GET
    uri: https://cdn.contentful.com/spaces/o4h6g9w3pooi/environments/master/content_types
  response:
    body:
      string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 2,\n \
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n\
        \        \"space\": {\n          \"sys\": {\n            \"type\": \"Link\"\
        ,\n            \"linkType\": \"Space\",\n            \"id\": \"o4h6g9w3pooi\"\
        \n          }\n        },\n        \"id\": \"article\",\n        \"type\"\
        : \"ContentType\",\n        \"createdAt\": \"2022-10-07T14:39:22.930Z\",\n\
        \        \"updatedAt\": \"2022-10-07T14:39:22.930Z\",\n        \"environment\"\
        : {\n          \"sys\": {\n            \"id\": \"master\",\n            \"\
        type\": \"Link\",\n            \"linkType\": \"Environment\"\n          }\n\
        \        },\n        \"revision\": 1\n      },\n      \"displayField\": \"\
        title\",\n      \"name\": \"Article\",\n      \"description\": \"\",\n   \
        \   \"fields\": [\n        {\n          \"id\": \"title\",\n          \"name\"\
        : \"title\",\n          \"type\": \"Symbol\",\n          \"localized\": false,\n\
        \          \"required\": false,\n          \"disabled\": false,\n        \
        \  \"omitted\": false\n        },\n        {\n          \"id\": \"body\",\n\
        \          \"name\": \"body\",\n          \"type\": \"RichText\",\n      \
        \    \"localized\": false,\n          \"required\": false,\n          \"disabled\"\
        : false,\n          \"omitted\": false\n        }\n      ]\n    },\n    {\n\
        \      \"sys\": {\n        \"space\": {\n          \"sys\": {\n          \
        \  \"type\": \"Link\",\n            \"linkType\": \"Space\",\n           \
        \ \"[...]
